@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300;400;500;600;700&family=Permanent+Marker&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f3f4f6;
    font-family: 'Commissioner', sans-serif;

}

.btn{
    background-color:hsl(176, 72%, 28%) ;
}

.desc{
    color:hsl(176, 72%, 28%) ;

}

.mastercraft-icon{
    position: absolute;
    left: 50%;
    top:-13%;
    transform: translate(-50%);
}

.data>article:last-child button{
    background-color: rgb(155,155, 155);
}

.data>article:last-child .gray{
    color: #dcdcdc;
}